<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">
	<bean id="resDao" class="com.bxp.erp.auth.res.dao.impl.ResImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="resEbi" class="com.bxp.erp.auth.res.business.ebo.ResEbo">
		<property name="resDao" ref="resDao"/>
	</bean>
	
	<!-- action不要忘记添加scope属性，非单例 -->
	<bean id="resAction" class="com.bxp.erp.auth.res.web.ResAction" scope="prototype">
		<property name="resEbi" ref="resEbi"/>
	</bean>
</beans>	
	
